.DS_Store
.Rhistory
.RData
*.Rproj

# data
data/*.config
data/*.exps
data/1_listenerProjection/all_original/
data/2_listenerSpeakerAH/all_original/
data/3_listenerSpeakerAH_Declaratives/all_original/

experiments/1_listenerProjection/finalized_interface/
experiments/1_listenerProjection/*.config
experiments/2_listenerSpeakerAH/finalized_interface/
experiments/3_listenerSpeakerAH_Declaratives/finalized_interface/
.Rproj.user

writings/towardsa_0201.pdf

analysis/2_listenerSpeakerAH/main/graphs/belief_p/
analysis/2_listenerSpeakerAH/main/cache/
analysis/3_listenerSpeakerAH_Declaratives/pilot/cache/
analysis/3_listenerSpeakerAH_Declaratives/main/cache/

models/threshold.wppl 
models/certainty/
models/chemo/graphs/chemo_production/cogsci_initial/
models/chemo/graphs/chemo_production/cogsci_talk/
models/chemo/graphs/chemo_production/*.pdf
models/BDA/results/chemo_production_pilot/
models/BDA/results/chemo_production_incorrect_inputs/
models/BDA/graphs/chemo_mix/incorrect_inputs
models/interrogatives/graphs/simple_chemo/combine_graphs.key
