.DS_Store
.Rhistory
.RData
*.Rproj

# data
data/*.config
data/*.exps
data/1_listenerProjection/all_original/
data/2_listenerSpeakerAH/all_original/
data/3_listenerSpeakerAH_Declaratives/all_original/

experiments/1_listenerProjection/finalized_interface/
experiments/1_listenerProjection/*.config
.Rproj.user

writings/*

analysis/2_listenerSpeakerAH/main/graphs/belief_p/
analysis/2_listenerSpeakerAH/main/cache/
analysis/3_listenerSpeakerAH_Declaratives/pilot/cache/
analysis/3_listenerSpeakerAH_Declaratives/main/cache/

models/threshold.wppl 
models/certainty/
models/chemo/graphs/chemo_production/cogsci
models/chemo/graphs/chemo_production/*.pdf
models/BDA/results/chemo_production_pilot/
