.DS_Store

# data
data/*.config
data/*.exps
data/1_listenerProjection/all_original/
data/2_listenerSpeakerAH/all_original/

experiments/1_listenerProjection/finalized_interface/
experiments/1_listenerProjection/*.config
.Rproj.user
